{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <title>Przychodnia - {% block title %}{% endblock %}</title>
    {% block extra_head %}{% endblock %}
  </head>
  <body>
      {% include 'common/include/messages.html' %}
      {% block content %}{% endblock %}
  </body>
  {% block under_body %}{% endblock %}
</html>
