{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% block head %}{% endblock head %}
    <title>Przychodnia - {% block title %}{% endblock %}</title>
    {% block extra_head %}{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="{% static 'js/jquery-3.4.1.slim.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/select2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/datepicker.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/i18n/datepicker.pl.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <link rel="stylesheet" href="{% static 'css/shame.css' %}">
    <link rel="stylesheet" href="{% static 'css/datepicker.min.css' %}">
    <style media="screen">
    .main-toast {
      right: 1rem!important;
      left: inherit!important;
    }
    </style>
  <body>
  <!-- Navbar Start -->
  <nav class="fixed-top navbar navbar-expand-lg navbar-light" id="header_nav">
    <a class="navbar-brand">
      <span>
        {% if user.role == "LAB" or user.role == "KLAB" %}
          <i class="fas fa-microscope"></i>
          <span class="pl-2">Laboratorium</span>
        {% else %}
          <i class="fas fa-clinic-medical"></i>
          <span class="pl-2">Przychodnia</span>
        {% endif %}
      </span>
    </a>
    <div class="collapse navbar-collapse show" id="header_nav_collapse">
      <!-- <form class="form mx-auto" id="header_search">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">
              <i class="fas fa-search"></i>
            </span>
          </div>
          <input type="text" class="form-control mr-sm-2" placeholder="Szukaj...">
        </div>
      </form> -->
      <ul class="navbar-nav ml-auto">
        {% if user.role == "REJ" %}
        <li class="nav-item popover-profile-rejestratorka">
        {% elif user.role == "LEK" %}
        <li class="nav-item popover-profile-lekarz">
        {% else %}
        <li class="nav-item popover-profile">
        {% endif %}
          <a class="nav-link" href="#">
            <span class="pr-2">{{profile}}</span>
            {% if user.role == "REJ" %}
              <i class="fas fa-user-nurse" title="Rejestratorka"></i>
            {% elif user.role == "LEK" %}
              <i class="fas fa-stethoscope" title="Lekarz"></i>
            {% elif user.role == "LAB" %}
              <i class="fas fa-vial" title="Laborant"></i>
            {% elif user.role == "KLAB" %}
              <i class="fas fa-microscope" title="Kierownik Laboratorium"></i>
            {% endif %}
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- Navbar End -->
  <div id="sidebar">
    {% block left_panel %}{% endblock %}
    <div class="main-content pt-5">
      <div class="container">
          {% include 'common/include/messages.html' %}
          {% block child_content %}{% endblock %}
      </div>
    </div>
</body>
<script type="text/javascript">
  $(document).ready(function() {
    $('.select2-select').select2();
    $(function () {
      $('[data-toggle="tooltip"]').tooltip();
    })
  });
</script>
{% block under_body %}{% endblock %}
<script type="text/javascript" src="{% static 'js/app.bundle.js' %}"></script>
</body>
</html>
