{% extends 'przychodnia_app/extend/base_przychodnia.html' %}
{% block title %}Lekarz{% endblock %}
{% block content %}


<h4><i class="fas fa-user-md"></i>&nbsp;Anulowane wizyty</h4>
{% include 'przychodnia_app/include/pagination.html' %}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Anulowano</th>
      <th scope="col">Pacjent</th>
      <th scope="col">Umowiony na</th>
      <th scope="col">Lekarz</th>
    </tr>
  </thead>
  <tbody>
    {% for wizyta in anulowane_wizyty %}
    <tr>
      <td>
        {{wizyta.dt_zak_anul}}
      </td>
      <td>
        <a href="{% url 'przychodnia_app:przychodnia-pacjent-detail' pk=wizyta.pacjent.pk %}">
          {{wizyta.pacjent}}
        </a>
      </td>
      <td>{{wizyta.dt_rej}}</td>
      <td>{{wizyta.lekarz}}</td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="4" class="text-center">
        -Brak-
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% include 'przychodnia_app/include/pagination.html' %}

{% endblock %}
