{% extends 'przychodnia_app/extend/base_rejestratorka.html' %}
{% block title %}Nowe wizyty{% endblock %}
{% block content %}

<h4><i class="far fa-check-square"></i>&nbsp;Nowe wizyty</h4>
<p>
  Dzisiejsze zarejestrowane wizyty.
</p>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Pacjent</th>
      <th scope="col">Lekarz</th>
      <th scope="col">Zarejestrowano</th>
      <th scope="col">Akcje</th>
    </tr>
  </thead>
  <tbody>
    {% for wizyta in nowe_wizyty %}
    <tr>
      <td>{{wizyta.pacjent}}</td>
      <td>{{wizyta.lekarz}}</td>
      <td>{{wizyta.dt_rej}}</td>
      <td>
        <a href="{% url 'przychodnia_app:wizyta-detail' pk=wizyta.pk %}" class="btn btn-primary" href="#" role="button" data-toggle="tooltip" data-placement="bottom" title="Pokaż szczegóły">
          <i class="far fa-eye"></i>
        </a>
        <a class="btn btn-danger" href="{% url 'przychodnia_app:rejestratorka-anuluj-wizyte' wizyta_id=wizyta.pk %}" role="button" data-toggle="tooltip" data-placement="bottom" title="Anuluj wizyte">
          <i class="fas fa-ban"></i>
        </a>
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="4" class="text-center">
        -Brak-
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock %}
