// forms

form.custom {
  input.form-control {
    border: none;
    background-color: transparent;
    border-bottom: 2px solid $gray-400;
    border-radius: 0;
    &:focus {
      box-shadow: none;
      border-bottom: 2px solid $primary;
      transition: all 300ms ease-in-out;
    }
  }
  .input-group-text {
    border: none;
    background-color: transparent!important;
    padding: .375rem .25rem;
  }
}
