{% extends 'przychodnia_app/extend/base_rejestratorka.html' %}
{% block title %}Rejestruj wizyte{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12 mt-3">
      <h4>Rejestruj wizyte</h4>
      <hr>
      <form class="" action="{% url 'przychodnia_app:rejestratorka-rejestruj-wizyte' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
          {{form.pacjent.label}}
          {{form.pacjent}}
        </div>
        <div class="form-group">
          <p>
            <a href="{% url 'przychodnia_app:rejestratorka-dodaj-pacjenta' %}">
              <i class="fas fa-user-plus"></i>
              &nbsp;Wprowadź nowego pacjenta
            </a>
          </p>
        </div>
        <div class="form-group">
          {{form.lekarz.label}}
          {{form.lekarz}}
        </div>
        <div class="form-group">
          {{form.opis.label}}
          {{form.opis}}
        </div>
        <hr>
        <input type="submit" name="submit" class="btn btn-primary" value="Zarejestruj wizyte">
      <form>
    </div>
  </div>
</div>
{% endblock %}
