{% extends 'przychodnia_app/extend/base_przychodnia.html' %}
{% block title %}Wizyta - szczegóły{% endblock %}
{% block content %}
<h4><i class="far fa-minus-square"></i>&nbsp;Wizyta (ID={{wizyta.pk}})</h4>
<p class="my-0">
  Zarejestrowano: <b>{{wizyta.dt_rej}}</b> przez <b>{{wizyta.rejestratorka}}</b>
</p>
{% include 'przychodnia_app/include/wizyta_status.html' with wizyta=wizyta %}

<div class="d-flex flex-row-reverse">
  <div class="pr-5">
    {% include 'przychodnia_app/include/anuluj_wizyte.html' with wizyta=wizyta %}
  </div>
</div>

<div class="list-group flex-row mt-3">
  <a href="#" class="list-group-item border-0 list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Lekarz</h5>
    </div>
    <p class="mb-1">
      {{wizyta.lekarz.imie}} {{wizyta.lekarz.nazwisko}}
    </p>
    <small>NPWZ: {{wizyta.lekarz.npwz}}</small>
  </a>
  <a href="#" class="list-group-item border-0 list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Pacjent</h5>
    </div>
    <p class="mb-1">
      {{wizyta.pacjent.imie}} {{wizyta.pacjent.nazwisko}}
    </p>
    <small>
      {{wizyta.pacjent.pesel}}
    </small>
    <br>
    <small>
      {{wizyta.pacjent.adres}}
    </small>
  </a>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">

    </div>
  </div>
</div>

<!--
opis
diagnoza
status
dt_rej
dt_zak_anul
pacjent
rejestratorka
lekarz
-->

{% endblock %}
