{% extends 'przychodnia_app/extend/base_przychodnia.html' %}
{% block title %}Wizyta - szczegóły{% endblock %}
{% block content %}
<h4><i class="far fa-minus-square"></i>&nbsp;Wizyta (ID={{wizyta.pk}})</h4>
<p class="my-0">
  Zarejestrowano: <b>{{wizyta.dt_rej}}</b> przez <b>{{wizyta.rejestratorka}}</b>
</p>
{% include 'przychodnia_app/include/wizyta_status.html' with wizyta=wizyta %}

<div class="d-flex flex-row-reverse">
  <div class="pr-5">
    {% include 'przychodnia_app/include/anuluj_wizyte.html' with wizyta=wizyta %}
  </div>
</div>

<div class="list-group flex-row mt-3">
  <a class="list-group-item border-0">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Lekarz</h5>
    </div>
    <p class="mb-1">
      {{wizyta.lekarz.imie}} {{wizyta.lekarz.nazwisko}}
    </p>
    <small>NPWZ: {{wizyta.lekarz.npwz}}</small>
  </a>
  <a class="list-group-item border-0">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Pacjent</h5>
    </div>
    <p class="mb-1">
      {{wizyta.pacjent.imie}} {{wizyta.pacjent.nazwisko}}
    </p>
    <small>
      {{wizyta.pacjent.pesel}}
    </small>
    <br>
    <small>
      {{wizyta.pacjent.adres}}
    </small>
  </a>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h5>
        <i class="fas fa-vial"></i>
        &nbsp;Badania laboratoryjne w ramach tej wizyty
      </h5>
      {% include 'przychodnia_app/lekarz/badania/badanie_lab_tabela.html' with badania_laboratorujne=badania_lab %}
      <h5>
        <i class="fas fa-stethoscope"></i>
        &nbsp;Badania fizykalne w ramach tej wizyty
      </h5>
      {% include 'przychodnia_app/lekarz/badania/badanie_fiz_tabela.html' with badania_fizykalne=badania_fiz %}
    </div>
  </div>
</div>

{% endblock %}
