{% extends 'przychodnia_app/extend/base_przychodnia.html' %}
{% block title %}Laborant{% endblock %}
{% block content %}

<h4>
  <i class="fas fa-vial"></i>
  &nbsp;Zatwierdź/Anuluj badanie laboratoryjne
</h4>

<h4>
  ({{object.slownik.key}}) {{object.slownik.nazwa}}
</h4>
<p class="m-0 p-0">
  Wykonano przez <b>{{object.laborant}}</b> dnia <b>{{object.dt_wyk_anul_lab}}</b>
</p>
<p class="m-0 p-0">
  Lekarz zlecający: {{object.wizyta.lekarz}}
</p>
<p class="m-0 p-0">
  Data zlecenia: {{object.dt_zlecenia}}
</p>
<p class="m-0 p-0">
  Uwagi lekarza:
</p>
<code>
  {{object.uwagi_lekarza}}
</code>
<p class="m-0 p-0">
  Wynik badania:
</p>
<code>
  {{object.wynik}}
</code>
<hr>
<form class="" action="." method="post">
  {% csrf_token %}
  {{form}}
  <hr>
  <input type="submit" class="btn btn-sm btn-success" name="bad_zatw_action" value="Zatwierdź badanie">
  <input type="submit" class="btn btn-sm btn-danger" name="bad_anul_action" value="Anuluj badanie">
</form>


{% endblock %}
