{% extends 'przychodnia_app/extend/base_przychodnia.html' %}
{% block title %}Lekarz{% endblock %}
{% block content %}


<h4><i class="fas fa-user-md"></i>&nbsp;Moje wizyty</h4>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Pacjent</th>
      <!-- <th scope="col">Lekarz</th> -->
      <th scope="col">Zarejestrowano</th>
      <th scope="col">Akcje</th>
    </tr>
  </thead>
  <tbody>
    {% for wizyta in moje_wizyty %}
    <tr>
      <td>
        {{wizyta.pacjent}}

        {% if wizyta.is_old %}
          <i class="fas fa-exclamation-circle text-danger" data-toggle="tooltip" data-placement="bottom" title="Ta wizyta powinna być anulowana!"></i>
        {% endif %}
      </td>
      <!-- <td>{{wizyta.lekarz}}</td> -->
      <td>{{wizyta.dt_rej}}</td>
      <td>
        <a class="btn btn-sm btn-success" href="{% url 'przychodnia_app:lekarz-realizuj-wizyte' wizyta_id=wizyta.id %}" role="button" data-toggle="tooltip" data-placement="bottom" title="Zrealizuj wizytę">
          <i class="fas fa-notes-medical"></i>
        </a>
        {% include 'przychodnia_app/include/action_buttons_common.html' %}
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="4" class="text-center">
        -Brak-
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock %}
