{% extends 'przychodnia_app/extend/base_przychodnia.html' %}
{% block title %}Lekarz{% endblock %}
{% block content %}


<h4><i class="fas fa-user-md"></i>&nbsp;Moje anulowane wizyty</h4>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Anulowano</th>
      <th scope="col">Pacjent</th>
      <th scope="col">Zarejestrowano</th>
      <th scope="col">Anulowano</th>
      <th scope="col">Akcje</th>
    </tr>
  </thead>
  <tbody>
    {% for wizyta in anulowane_wizyty %}
    <tr>
      <td>
        {{wizyta.dt_zak_anul}}
      </td>
      <td>
        {{wizyta.pacjent}}
      </td>
      <td>{{wizyta.dt_rej}}</td>
      <td>{{wizyta.dt_zak_anul}}</td>
      <td>
        {% include 'przychodnia_app/include/action_buttons_common.html' %}
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="4" class="text-center">
        -Brak-
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock %}
