{% extends 'przychodnia_app/extend/base_przychodnia.html' %}
{% block title %}Realizuj wizyte {{realizowana_wizyta.id}}{% endblock %}
{% block content %}

{% with realizowana_wizyta as wizyta %}
<h4>
  <i class="fas fa-notes-medical"></i>
  &nbsp;Realizacja wizyty (ID={{wizyta.id}})
</h4>
<div class="list-group flex-row mt-3">
  <a class="list-group-item border-0 list-group-item-action p-0 pt-3 pb-3">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Pacjent</h5>
    </div>
    <p class="mb-1">
      {{wizyta.pacjent.imie}} {{wizyta.pacjent.nazwisko}}
    </p>
    <small>
      {{wizyta.pacjent.pesel}}
    </small>
    <br>
    <small>
      {{wizyta.pacjent.adres}}
    </small>
  </a>
</div>
<p class="my-0">
  Zarejestrowano: <b>{{wizyta.dt_rej}}</b>
  przez <b>{{wizyta.rejestratorka}}</b>
</p>
{% include 'przychodnia_app/include/wizyta_status.html' with wizyta=wizyta %}
<div class="d-flex flex-row-reverse">
  <div class="pr-5">
    {% include 'przychodnia_app/include/anuluj_wizyte.html' with wizyta=wizyta %}
  </div>
  <div class="pr-5">
    <a href="{% url 'przychodnia_app:zlec-badanie-lab' wizyta_id=wizyta.id %}" class="btn btn-primary">
      <i class="fas fa-vial"></i>
      &nbsp;Zleć badanie laboratoryjne
    </a>
  </div>
</div>

<a href="{% url 'przychodnia_app:przegladaj-inne-wizyty-pacjenta' wizyta_id=wizyta.id %}">
  Przeglądaj inne wizyty pacjenta
</a>


{% endwith %}


{% endblock %}
