<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Nazwa badania</th>
      <th scope="col">Akcje</th>
    </tr>
  </thead>
  <tbody>
    {% for bad_fiz in badania_fizykalne %}
    <tr>
      <td>
        <span data-toggle="tooltip" data-placement="right" title="{{bad_fiz.slownik.key}}">
          {{bad_fiz.slownik.nazwa}}
        </span>
      </td>
      <td>
        <a href="{% url 'przychodnia_app:lekarz-bad-fiz-detail' pk=bad_fiz.pk %}" class="btn btn-sm btn-primary" href="#" role="button" data-toggle="tooltip" data-placement="bottom" title="Pokaż szczegóły badania">
          <i class="far fa-eye"></i>
        </a>
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="2" class="text-center">Brak</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
