{% extends 'common/extend/base.html' %}
{% block head %}{% endblock head %}
{% block title %}Lekarz{% endblock %}
{% block extra_head %}{% endblock %}
{% block left_panel %}
<div class="left-panel">

  {# Panel Boczny Dla Rejestratorki #}
  {% if request.user.role == "REJ" %}
  <ul class="list-group">
    <li class="list-group-item header d-flex justify-content-between align-items-center">
      <span>
        wizyty
      </span>
    </li>
    <li class="list-group-item {% if request.resolver_match.url_name == 'rejestratorka-wizyty-nowe' %}active{% endif %} d-flex justify-content-between align-items-center">
      <span>
        <i class="far fa-check-square"></i>
        <a href="{% url 'przychodnia_app:rejestratorka-wizyty-nowe' %}">
          Dzisiejsze wizyty
        </a>
      </span>
      {% if nowe_wizyty_count %}
      <span class="badge badge-primary">{{nowe_wizyty_count}}</span>
      {% endif %}
    </li>
    <li class="list-group-item {% if request.resolver_match.url_name == 'rejestratorka-wizyty-stare' %}active{% endif %} d-flex justify-content-between align-items-center">
      <span>
        <i class="far fa-minus-square"></i>
        <a href="{% url 'przychodnia_app:rejestratorka-wizyty-stare' %}">
          Stare wizyty
        </a>
      </span>
      {% if stare_wizyty_count %}
      <span class="badge badge-danger">{{stare_wizyty_count}}</span>
      {% endif %}
    </li>
    <li class="list-group-item {% if request.resolver_match.url_name == 'rejestratorka-rejestruj-wizyte' %}active{% endif %} d-flex justify-content-between align-items-center">
      <span>
        <i class="fas fa-user-clock"></i>
        <a href="{% url 'przychodnia_app:rejestratorka-rejestruj-wizyte' %}">
          Rejestruj wizyte
        </a>
      </span>
    </li>
    <li class="list-group-item header d-flex justify-content-between align-items-center">
      <span>
        pacjenci
      </span>
    </li>
    <li class="list-group-item {% if request.resolver_match.url_name == 'przychodnia-pacjenci-list' %}active{% endif %} d-flex justify-content-between align-items-center">
      <span>
        <i class="far fa-user"></i>
        <a href="{% url 'przychodnia_app:przychodnia-pacjenci-list' %}">Pacjenci</a>
      </span>
      {% if pacjenci_count %}
      <span class="badge badge-primary">{{pacjenci_count}}</span>
      {% endif %}
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center border-top">
      <span>
        <i class="far fa-share-square"></i>
        <a href="{% url 'common:logout' %}">Wyloguj</a>
      </span>
    </li>
  </ul>
  {% endif %}

  {# Panel Boczny Dla Lekarza #}
  {% if request.user.role == "LEK" %}
  <ul class="list-group">
    <li class="list-group-item header d-flex justify-content-between align-items-center">
      <span>
        wizyty
      </span>
    </li>
    <li class="list-group-item {% if request.resolver_match.url_name == 'lekarz-moje-wizyty' %}active{% endif %} d-flex justify-content-between align-items-center">
      <span>
        <i class="fas fa-user-md"></i>
        <a href="{% url 'przychodnia_app:lekarz-moje-wizyty' %}">
          Moje wizyty
        </a>
      </span>
      {% if moje_wizyty_count %}
      <span class="badge badge-primary">{{moje_wizyty_count}}</span>
      {% endif %}
    </li>
    <li class="list-group-item {% if request.resolver_match.url_name == 'lekarz-moje-zakonczone-wizyty' %}active{% endif %} d-flex justify-content-between align-items-center">
      <span>
        <i class="fas fa-notes-medical"></i>
        <a href="{% url 'przychodnia_app:lekarz-moje-zakonczone-wizyty' %}">
          Zakończone wizyty
        </a>
      </span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center border-top">
      <span>
        <i class="far fa-share-square"></i>
        <a href="{% url 'common:logout' %}">Wyloguj</a>
      </span>
    </li>
  </ul>
  {% endif %}
</div>
{% endblock %}
{% block child_content %}
<div class="row">
  <div class="col-12">
    {% block content %}{% endblock %}
  </div>
</div>
{% endblock %}
{% block under_body %}{% endblock %}
